<div class="container">
    <div class="header">
      <h1>Nova categoria</h1>
      <button 
        routerLink="/categories"
        matTooltip="Voltar" 
        matTooltipPosition="before" 
        mat-mini-fab 
        color="primary">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <mat-divider class="divider"></mat-divider>
    <mat-card>
      <form>
        
        <div class="form-container">
          <div class="inputs-container">
            <mat-form-field appearance="standard" class="input">
              <mat-label>Nome</mat-label>
              <input matInput>
            </mat-form-field>
  
            <mat-form-field appearance="standard" class="input">
              <mat-label>Cor</mat-label>
              <input matInput [ngxMatColorPicker]="picker" readonly>
              <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
              <ngx-mat-color-picker #picker [touchUi]="true" [color]="color"></ngx-mat-color-picker>
            </mat-form-field>
  
            <mat-form-field appearance="standard" class="input">
              <mat-label>Ícone</mat-label>
              <input matInput>
            </mat-form-field>

            <app-icon-picker-input></app-icon-picker-input>
          </div>
        </div>

        <div class="buttons">
          <button mat-button routerLink="/categories">Cancelar</button>
          <button mat-raised-button color="primary">Salvar</button>
        </div>
      </form>
    </mat-card>
  </div>
  